{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/homepage/styles.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap_5.3.7/bootstrap.min.css' %}">
    <title>PapiChans - Portfolio</title>
</head>
<body>
    <h1 class="text-secondary">Hello world</h1>
</body>
    <script src="{% static 'js/homepage/script.js' %}"></script>
    <script src="{% static 'libs/bootstrap_5.3.7/bootstrap.bundle.min.js' %}"></script>

</html>