{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/homepage/styles.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.7-dist/css/bootstrap.min.css' %}">
    <title>PapiChans - Portfolio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <
            <img src="{% static '/images/logo/logo.png' %}" width="57" height="57" alt="logo">
        </div>
    </nav>
</body>
    <script src="{% static 'js/homepage/script.js' %}"></script>
    <script src="{% static 'libs/bootstrap-5.3.7-dist/js/bootstrap.min.js' %}"></script>
</html>